<div class="note_container">
  <h2>Local Inventory</h2>
</div>

<div class="home_table">
<table style="table-layout:fixed; width:100%">
  <thead>
  <tr>
    <th><a href="/a-local-shop"> Precious things: </th>
    <th><a href="/sources"> Which source it came from: </th>
  </tr>
  </thead>

  <tbody>
  <% @precious.each do |thing| %>
  <tr>
    <td><a href="/a-local-shop/<%=thing['precious_thing_id']%>"> <%= thing['precious_thing_name'] %></td>
    <td><a href="/sources/<%=thing['source_id']%>"> <%= thing['source_name'] %> </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<div id="tea_wrapper">
  <img class="tea" src="https://www.onlygfx.com/wp-content/uploads/2016/05/cup-coffee-stain-6.png" alt="tea stain">
</div>
