<div class="note_container"
  <img src="http://hanatemplate.com/images/old-lined-paper-7.png" alt="stack of notes">
  <div class="note_text">Local Inventory</div>
</div>

<div class="home_table">
<table style="table-layout:fixed; width:100%">
  <tr>
    <th>Precious things: </th>
    <th>Which source it came from: </th>
  </tr>
</table>


<div id="home-wrapper">
  <% @precious.each do |thing| %>
<table style="text-align: center; table-layout: fixed; width:100%">
  <tr>
    <td><a href="/a-local-shop/<%= thing['id'] %>"><%= thing['precious_thing_name'] %></td>
    <td> <%= thing['source_name'] %> </td>
  </tr>
</table>
  <% end %>
</div>
</div>
