<!DOCTYPE html>

<html>
<head>
  <title>Tubbs' local helper</title>
  <link rel="stylesheet" type="text/css" href="/../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/a-local-shop'>A local shop</a></li>
    <li class="menu-item"><a href='/a-local-shop/new'>Edward fetched a new precious!</a></li>
    <li class="menu-item"><a href='/sources'>Sources</a></li>

  </nav>
  <h1 id="logo">Tubbs' precious things</h1>
  <%= yield %>

</body>
</html>
