.tea {
  height:400px;
  width:400px;
  position: absolute;
  left: 1000px;
  top: 550px;
  z-index: -1;
}

.note_container h2 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 900;
  color: black;
  margin: 0;
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.note_container {
  background-image: url(http://hanatemplate.com/images/old-lined-paper-7.png);
  background-size: cover;
  width: 410px;
  height: 530px;
  position: relative;
  top: 180px;
  left:150px;
}

.home_table {
  background-color: #D9D3BE;
  width: 20%;
  position: absolute;
  top: 400px;
  left: 800px;
}

.home_table th {
  background-color: #514431;
  color: #C0C0C0;
}

.home_table th, td {
  text-align: left;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left:0.5em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.home_table td {
  border-spacing: 3em 3em;
}

tbody tr:nth-child(2n){
  background-color: #817150;
}

.banner {
  position: absolute;
  top: 0;
  left: 25%;
  right: 0;
  opacity: 0.8;
}

html {
  background-image: url(https://img.freepik.com/free-vector/damask-seamless-pattern-background_1217-821.jpg?size=338&ext=jpg);
  background-repeat: repeat;
}

a {
  color: #006400;
}

.precious_table {
  table-layout:fixed;
  border: 1px solid black;
  width: 80%;
  align-content: center;
}

h1 {
  padding: 80px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 300%

}

.menu {
  background-color: #817150 0.9;
  font-family: 'Shadows Into Light';
  font-size: 150%;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  display: flex;
  box-shadow: 0 0 10px 0 black;
}

.menu * {
  display:inline;
}

.menu li {
  margin: auto;
}

.menu li a {
  color: black;
  text-decoration:underline;
