/* html, body {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100%;
}

.image {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  border-top: 5px;
}

th {
  font-weight: bold;
}

body {
  background: #FEF4C0;
  background: -moz-linear-gradient(left, #FEF4C0 0%, #908884 100%, #9E9587 100%);
  background: -webkit-linear-gradient(left, #FEF4C0 0%, #908884 100%, #9E9587 100%);
  background: linear-gradient(to right, #FEF4C0 0%, #908884 100%, #9E9587 100%);
  width: 70%;
  margin: auto;
}

a {
  color: #400000;
}

#menu {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
}

#menu * {
  display: inline;
}

#menu li {
  margin: 20px;
}

#menu li a {
  color: black;
  text-decoration: none;
}


h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #E54900;
  text-decoration: none;
}

table th h1 {
	font-weight: bold;
	font-size: 1em;
  text-align: left;
}

table td {
	font-weight: normal;
	font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

table {
	text-align: left;
	overflow:auto;
	width: 80%;
	margin: 0 auto;
  display: table;
  padding: 0 0 0 0;
  position: relative;
}

table td, table th {
	padding-bottom: 1%;
	padding-top: 1%;
  padding-left:1%;
}

table tr:nth-child(odd) {
	background-color: #CAAD96;
}

table tr:nth-child(even) {
	  background-color: #CAAD96;
}

table th {
  font-weight: bolder;
}

table td:first-child { color: #2D1D0F; }

table tr:hover {
  background-color: #D9B298;
-webkit-box-shadow: 0 6px 6px -6px #111520;
	   -moz-box-shadow: 0 6px 6px -6px #111520;
	        box-shadow: 0 6px 6px -6px #111520;
}

table td:hover {
  background-color: #D9B298;
  font-weight: bold;
  font-size: 125%;

  box-shadow: #111520 -1px 1px, #111520 -2px 2px, #111520 -3px 3px, #111520 -4px 4px, #111520 -5px 5px, #111520 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}

form {
display: table;
margin:auto;
text-align: table;
}

#new {
text-align: center;
}

.ul {
  align-content: center;
  display:flex;
}

#bloodstain {
  position: absolute;
  left: 0px;
  top: 500px;
  z-index: -1;
}

#tea {
  height:400px;
  width:400px;
  position: absolute;
  left: 1000px;
  top: 1500px;
  z-index: -1;
}

ul {
  display: flex;
  justify-content: center;
}

.source_list {
  font-size: 1.5em;
  font-weight: bolder;
}

.button {

} */
/* ------------------------------------------------------- */

.tea {
  height:400px;
  width:400px;
  position: absolute;
  left: 1000px;
  top: 550px;
  z-index: -1;
}

.note_container h2 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 900;
  color: black;
  margin: 0;
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.note_container {
  background-image: url(http://hanatemplate.com/images/old-lined-paper-7.png);
  background-size: cover;
  width: 410px;
  height: 530px;
  position: relative;
  top: 180px;
  left:150px;
}

.home_table {
  background-color: #D9D3BE;
  width: 20%;
  position: absolute;
  top: 400px;
  left: 800px;
}

.home_table th {
  background-color: #514431;
  color: #C0C0C0;
}

.home_table th, td {
  text-align: left;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left:0.5em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.home_table td {
  border-spacing: 3em 3em;
}

tbody tr:nth-child(2n){
  background-color: #817150;
}

.banner {
  position: absolute;
  top: 0;
  left: 25%;
  right: 0;
  opacity: 0.8;
}

html {
  background-image: url(https://img.freepik.com/free-vector/damask-seamless-pattern-background_1217-821.jpg?size=338&ext=jpg);
  background-repeat: repeat;
}

a {
  color: #006400;
}

.menu {
  background-color: #817150 0.9;
  font-family: 'Shadows Into Light';
  font-size: 150%;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  display: flex;
  box-shadow: 0 0 10px 0 black;
}

.menu * {
  display:inline;
}

.menu li {
  margin: auto;
}

.menu li a {
  color: black;
  text-decoration:underline;
