<div id="new">
  <p> Edward fetched a new precious! </p>

  <div class="form">
    <form action="/a-local-shop/" method="post">
      <label for="name">Precious thing:</label>
        <input type="text" name="name" id="name" placeholder="precious thing">

        <label for="description">Description:</label>
             <input type="text" name="description" id="description" placeholder="what's it like?"/>

             <label for="stock-quantity">Stock:</label>
             <input type="number" name="stock_quantity" id="stock_quantity" placeholder="how many?"/>

             <label for="buying-cost">Buying cost:</label>
             <input type="number" name="buying_cost" id="buying_cost" placeholder="how many died for it?"/>

             <label for="selling-price">Selling price:</label>
             <input type="number" name="selling_price" id="selling_price" placeholder="How much is it?"/>

------------------------------

             <label for="source-id">
               Source:
               <select class="dropdown" name="source_id" id="source">
                 <% for source in @all_precious_things %>
                 <option value="<%= source.source_id %>"><%= source.name %></option>
                 <% end %>
               </select>
             </label>

-------------------------------

             <input type="submit" value="Make precious">
           </form>
         </div>
        </div>
