<div id="new">
  <h1> Edward fetched a new precious! </h1>

  <div class="form">
    <form action="/a-local-shop" method="post">
      <fieldset>
      <label for="name"><legend>Precious thing:</legend></label>
        <input type="text" name="name" id="name" placeholder="what shall we call it?">

        <label for="description"><legend>Description: </legend></label>
             <input type="text" name="description" id="description" placeholder="what's it like?"/>

             <label for="stock-quantity"><legend>Stock: </legend></label>
             <input type="number" name="stock_quantity" id="stock_quantity" placeholder="how many?"/>

             <label for="buying-cost"><legend>Buying cost: </legend></label>
             <input type="number" name="buying_cost" id="buying_cost" placeholder="how many died for it?"/>

             <label for="selling-price"><legend>Selling price: </legend></label>
             <input type="number" name="selling_price" id="selling_price" placeholder="how much is it?"/>

             <label for="source-id">
               <legend>Source: </legend>
               <select class="dropdown" name="source_id" id="source">
                 <% for source in @all_sources %>
                 <option value="<%= source.id %>"><%= source.name %></option>
                 <% end %>
               </select>
             </label>
             <br>
             <br>
             <input type="submit" value="Make precious">
             </fieldset>
           </form>
         </div>
        </div>
