<div id="new">
  <h1> Edward fetched a new precious! </h1>

  <div class="new_form_wrapper">
    <form class="new_form" action="/a-local-shop" method="post">
      <label for="name">Precious thing:</label>
        <input type="text" name="name" id="name" placeholder="what shall we call it?">
<br>
        <label for="description">Description: </label>
             <input type="text" name="description" id="description" placeholder="what's it like?"/>
<br>
             <label for="stock-quantity">Stock: </label>
             <input type="number" name="stock_quantity" id="stock_quantity" placeholder="how many?"/>
<br>
             <label for="buying-cost">Buying cost: </label>
             <input type="number" name="buying_cost" id="buying_cost" placeholder="how many died for it?"/>
<br>
             <label for="selling-price">Selling price: </label>
             <input type="number" name="selling_price" id="selling_price" placeholder="how much is it?"/>
<br>
             <label for="source-id">
               Source:
               <select class="dropdown" name="source_id" id="source">
                 <% for source in @all_sources %>
                 <option value="<%= source.id %>"><%= source.name %></option>
                 <% end %>
               </select>
             </label>
<br>
             <input type="submit" value="Make precious">

           </form>
         </div>
        </div>
